---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
import Aside from "../components/Aside.astro";
import Card from "../components/Card.astro";
---

<Layout title="San Felipe | Productos">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-2 aside">
        <Aside />
      </div>
      <div class="col-10 main">
        <Nav />
        <div class="container">
          <h1 class="text-center py-4">Bienvenido San Felipe</h1>
          <div class="row my-4 w-75 mx-auto">
            <div>
              <h5 class="mb-5">Lunes, 12 de Julio de 2021</h5>
            </div>
            <div class="col-6 mx-auto">
              <Card icono="activity" nombre="Ventas hoy..." total={90} />
              <Card icono="tools" nombre="Productos" total={520} />
            </div>
            <div class="col-6 mx-auto">
              <Card icono="easel3" nombre="Bodegas" total={10} />
              <Card icono="truck" nombre="Proveedores" total={56} />
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      .aside {
        background-color: #232a2c;
      }
      .boton {
        background-color: #e94256;
        color: aliceblue;
        font-weight: 700;
      }
      .boton:hover {
        background-color: #e94255c0;
      }
    </style>
  </div>
</Layout>
