---
import Layout from "../components/Layout.astro";
---

<Layout title="Iniciar Sesion">
  <div
    class="container vh-100 overflow-hidden flex-column d-flex justify-content-center"
  >
    <h1 class="text-center mb-4">Iniciar Sesion</h1>
    <div class="row w-100">
      <div class="col-4 mx-auto">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Correo Electronico</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="alguien123@gmail.com"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <a href="/home" class="btn boton w-100">Iniciar Sesion</a>
        </form>
      </div>
    </div>
  </div>

  <style>
    .boton {
      background-color: #e94256;
      color: aliceblue;
    }
    .boton:hover {
      background-color: #e94255c0;
    }
  </style>
</Layout>
