---
import Layout from "../components/Layout.astro";
import Nav from "../components/Nav.astro";
import { pedidos } from "../../db/pedidos.json";
import Aside from "../components/Aside.astro";
import Search from "../components/Search.astro";
import TablaPedidos from "../components/TablaPedidos.astro";
---

<Layout title="San Felipe | Pedidos">
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col-2 aside">
        <Aside />
      </div>
      <div class="col-10 main">
        <Nav />
        <div class="container">
          <h1 class="text-center py-4">Pedidos</h1>
          <div class="row my-4">
            <div class="col-4">
              <Search placeholder="Buscar Pedido" />
            </div>
            <div class="col-8 d-flex h-100 justify-content-end">
              <a href="/pedido_nuevo" class="btn boton">Agregar Nuevo +</a>
            </div>
            <TablaPedidos pedidos={pedidos} />
          </div>
        </div>
      </div>
    </div>

    <style>
      .aside {
        background-color: #232a2c;
      }
      .boton {
        background-color: #e94256;
        color: aliceblue;
        font-weight: 700;
      }
      .boton:hover {
        background-color: #e94255c0;
      }
    </style>
  </div>
</Layout>
