<ul
  class="nav flex-column h-100 d-flex mx-2 justify-content-center position-fixed"
>
  <li class="nav-item d-flex mb-2">
    <i
      class="bi bi-bar-chart-line-fill"
      style="font-size: 1.5rem; color: #ffcaa0;"></i>
    <a class="nav-link active" href="/home">Inicio</a>
  </li>
  <li class="nav-item d-flex mb-2">
    <i class="bi bi-tools" style="font-size: 1.5rem; color: #ffcaa0;"></i>
    <a class="nav-link active" href="/productos">Productos</a>
  </li>
  <li class="nav-item d-flex mb-2">
    <i class="bi bi-easel3" style="font-size: 1.5rem; color: #ffcaa0;"></i>
    <a class="nav-link" href="/bodegas">Bodega</a>
  </li>
  <li class="nav-item d-flex mb-2">
    <i class="bi bi-truck" style="font-size: 1.5rem; color: #ffcaa0;"></i>
    <a class="nav-link" href="/provedores"> Provedores</a>
  </li>
  <li class="nav-item d-flex mb-2">
    <i class="bi bi-bag-check-fill" style="font-size: 1.5rem; color: #ffcaa0;"
    ></i>
    <a class="nav-link" href="/pedidos">Pedidos</a>
  </li>
  <a href="/" class="btn btn-danger mt-4">Salir</a>

  <style>
    ul li a {
      color: white !important;
    }

    ul li a:hover {
      text-decoration: underline;
    }
  </style>
</ul>
